body {
	margin: 30px;
	font-family: georgia;
	background-color: #FAF2C3;
	color: #546391;
	font-size: 100%;
	text-align: center;
}

figure {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #53C7F0;
}

footer {
	text-align: center;

.topnav {
	background-color: #FAF2C3;
	overflow: hidden;
}
	
.topnav a {
	float: left;
	color: #53C7F0;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
