body {
  margin: 30px;
  font-family: georgia;
  background-color: #FAF2C3;
  color: #546391;
  font-size: 100%;
  text-align: center;
}

figure {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #87E0FF;
}

footer {
	text-align: center;
